@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using blazorissuesrepro.Shared
@using blazorissuesrepro.Services
@attribute [Authorize]
@inject AppState AppState

<h1>Page #2</h1>

<CommonSelectComponent Items="AppState.WeatherForecasts"></CommonSelectComponent>


@code {
    protected override async Task OnInitializedAsync()
    {
        await AppState.GetWeatherForecasts();

        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}