@using blazorissuesrepro.Shared

<h3>Select Component</h3>

<select>
    <option value="-1">Select Item</option>
    @if (Items != null && Items.Any())
    {
        @foreach (var forecast in Items)
        {
            <option value="@forecast.Summary">@forecast.Summary</option>
        }
    }
</select>

@code {
    [Parameter]
    public WeatherForecast[] Items { get; set; }
}
